 .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 15px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 1299px;
}

.u-section-1 .u-image-1 {
  height: 730px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin-top: 160px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-group-1 {
  min-height: 348px;
  height: auto;
  width: 881px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.42;
  margin: 31px auto 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 95px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 15px 40px 0 55px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-family: Allerta;
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 30px 40px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-1 .u-image-1 {
    height: 709px;
    margin-top: 179px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 40px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 40px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-1 .u-image-1 {
    height: 601px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-image-1 {
    height: 359px;
    margin-top: 111px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -64px;
    margin-bottom: -20px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 79px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -51px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 438px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Allerta;
  font-weight: 700;
  margin: 87px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 45px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 253px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-2 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-4 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-5 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-6 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-7 {
  margin-right: 5px;
  font-size: 1.6667em;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-icon-8 {
  margin-right: 5px;
  font-size: 1.6667em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 364px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 87px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 126px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 487px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 447px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 55px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 546px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 1px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1011px;
}

.u-section-4 .u-shape-1 {
  height: 575px;
  margin-top: -14px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 697px;
  height: 697px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  left: 50px;
  top: 64px;
  margin: -368px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  width: 533px;
  min-height: 510px;
  height: auto;
  --radius: 20px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -449px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: 59px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: auto;
  margin: 40px 0 0;
}

.u-section-4 .u-text-3 {
  text-align: left;
  width: auto;
  margin: 10px -10px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 936px;
  }

  .u-section-4 .u-image-1 {
    width: 639px;
    height: 639px;
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 486px;
    margin-top: -356px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1116px;
  }

  .u-section-4 .u-shape-1 {
    height: 544px;
    margin-top: 446px;
  }

  .u-section-4 .u-image-1 {
    width: 621px;
    height: 621px;
    margin-top: -423px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 505px;
    margin-top: -278px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-top: 7px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 978px;
  }

  .u-section-4 .u-shape-1 {
    height: 417px;
    margin-top: 438px;
  }

  .u-section-4 .u-image-1 {
    width: 456px;
    height: 456px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 402px;
    min-height: 527px;
    margin-top: -197px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 782px;
  }

  .u-section-4 .u-shape-1 {
    height: 333px;
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    width: 313px;
    height: 313px;
    margin-top: -170px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 257px;
    min-height: 344px;
    margin-top: -107px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding: 23px 6px 8px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.3125rem;
    line-height: 1.31;
    margin-top: 10px;
    margin-left: 8px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 12px;
    margin-left: 4px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1365px;
}

.u-section-5 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 46px auto 0 198px;
}

.u-section-5 .u-shape-2 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 619px 276px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/WhatsAppImage2024-08-06at18.14.05.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -1028px 32px 0 auto;
}

.u-section-5 .u-shape-3 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -181px 13px 0 auto;
}

.u-section-5 .u-group-1 {
  width: 533px;
  min-height: 510px;
  height: auto;
  --radius: 20px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -325px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 50px 50px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1350px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 202px;
  }

  .u-section-5 .u-shape-2 {
    width: 120px;
    height: 120px;
    margin-right: 298px;
  }

  .u-section-5 .u-image-1 {
    width: 728px;
    height: 728px;
    margin-right: 132px;
  }

  .u-section-5 .u-shape-3 {
    width: 248px;
    height: 248px;
    margin-right: 100px;
  }

  .u-section-5 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    width: 570px;
    margin-left: 100px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1286px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-5 .u-shape-1 {
    width: 261px;
    height: 252px;
    margin-top: 131px;
    margin-left: 290px;
  }

  .u-section-5 .u-shape-2 {
    width: 99px;
    height: 99px;
    margin-top: 565px;
    margin-right: 308px;
  }

  .u-section-5 .u-image-1 {
    width: 560px;
    height: 560px;
    margin-top: -974px;
    margin-right: 222px;
  }

  .u-section-5 .u-shape-3 {
    width: 177px;
    height: 177px;
    margin-top: -110px;
    margin-right: 210px;
  }

  .u-section-5 .u-group-1 {
    width: 479px;
    margin-top: -244px;
    margin-left: 210px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 15px 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1213px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-5 .u-shape-1 {
    width: 210px;
    height: 210px;
    margin-left: 343px;
  }

  .u-section-5 .u-shape-2 {
    margin-right: 437px;
  }

  .u-section-5 .u-image-1 {
    width: 448px;
    height: 448px;
    margin-right: auto;
  }

  .u-section-5 .u-shape-3 {
    width: 171px;
    height: 171px;
    margin-top: 70px;
    margin-right: 300px;
  }

  .u-section-5 .u-group-1 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: auto;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-5 .u-shape-1 {
    width: 144px;
    height: 144px;
    margin-top: 0;
    margin-left: -14px;
  }

  .u-section-5 .u-shape-2 {
    width: 88px;
    height: 88px;
    margin-top: 665px;
    margin-right: 425px;
  }

  .u-section-5 .u-image-1 {
    width: 315px;
    height: 315px;
    margin-top: -885px;
  }

  .u-section-5 .u-shape-3 {
    width: 120px;
    height: 120px;
    margin-top: -71px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    width: 286px;
    margin-top: -120px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-5 .u-text-2 {
    line-height: 1.31;
    margin-top: 18px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 36px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 1001px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 60px calc(((100% - 1140px) / 2)  + 125px) 0 calc(((100% - 1140px) / 2)  + 151px);
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: 104px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 519px;
  grid-gap: 24px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 50px;
}

.u-section-6 .u-image-1 {
  width: 265px;
  height: 265px;
  background-image: url("images/111.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -26px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 31px 30px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 18px 0 30px;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-6 .u-image-2 {
  width: 265px;
  height: 265px;
  background-image: url("images/ghhhgh.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -26px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 31px 30px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 18px 0 30px;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 50px;
}

.u-section-6 .u-image-3 {
  width: 265px;
  height: 265px;
  background-image: url("images/fgfg4.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -26px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 31px 30px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 18px 0 30px;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 982px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 25px);
    margin-left: calc(((100% - 940px) / 2)  + 51px);
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: 135px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 424px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 993px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 1017px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1095px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: 202px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1841px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: 103px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1472px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 961px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 717px;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-form-1 {
  height: 248px;
  margin-bottom: 0;
  margin-top: 43px;
  margin-left: 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 719px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 0;
}

.u-section-7 .u-image-1 {
  height: 479px;
  margin-top: 50px;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-7 .u-layout-wrap-2 {
  width: 527px;
  margin: -30px 0 60px auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 74px;
}

.u-section-7 .u-container-layout-3 {
  padding: 13px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-7 .u-form-1 {
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-7 .u-image-1 {
    height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-7 .u-image-1 {
    height: 438px;
    margin-top: 43px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-7 .u-layout-cell-1 {
    order: 1;
    min-height: 601px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 746px;
    order: 0;
  }

  .u-section-7 .u-image-1 {
    height: 513px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 342px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
    margin-bottom: 1px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 129px;
  }
}